
#titulo{
    color: #41414e;
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px 2px;
    clear: right;
}

.subtitulo {
    color: rgb(255, 255, 255);
    font-size: 34px;
    text-align: center;
    border-bottom: solid 1px;
}

.form_label {
    /*text-align: center;*/
    color: #41414e;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px #41414e;
}

.form_error {
    color: red;
}

.formulario {
    position: relative;
    width: 70%;
    left: 15%;
    padding: 20px;
    margin-bottom: 40px;
    background-color: #6666ff;
    background: -webkit-linear-gradient(bottom, #6699ff, #5555ff);
    background: -moz-linear-gradient(bottom, #6699ff, #5555ff);
    background: -o-linear-gradient(bottom, #6699ff, #5555ff);
    background: -ms-linear-gradient(bottom, #6699ff, #5555ff);
    opacity: 0.8;
    text-align: center;
    box-shadow: 5px 5px 5px #222;
}

.formulario > label {
    font-weight: bold;
}

.formulario > input[type=text] {
    width: 40%;
}

.boton {
    position: relative;
    width: 40%;
    height: 20px;
    background: -webkit-linear-gradient(top, rgb(181, 181, 255), rgb(85, 85, 255));
    background: -moz-linear-gradient(top, rgb(181, 181, 255), rgb(85, 85, 255));
    background: -o-linear-gradient(top, rgb(181, 181, 255), rgb(85, 85, 255));
    background: -ms-linear-gradient(top, rgb(181, 181, 255), rgb(85, 85, 255));
    border: solid 1px;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
}

.boton:hover{
    background: -webkit-linear-gradient(top, #7777ff, #aaaaff);
    background: -moz-linear-gradient(top, #7777ff, #aaaaff);
    background: -o-linear-gradient(top, #7777ff, #aaaaff);
    background: -ms-linear-gradient(top, #7777ff, #aaaaff);
}

.boton:active{
    background: -webkit-linear-gradient(top, #5555ff, #7777ff);
    ackground: -moz-linear-gradient(top, #5555ff, #7777ff);
    background: -o-linear-gradient(top, #5555ff, #7777ff);
    background: -ms-linear-gradient(top, #5555ff, #7777ff);
}

.botonForm {
    position: relative;
    width: 100px;
    height: 35px;
    background: -webkit-linear-gradient(top, rgb(181, 181, 255), rgb(85, 85, 255));
    background: -moz-linear-gradient(top, rgb(181, 181, 255), rgb(85, 85, 255));
    background: -o-linear-gradient(top, rgb(181, 181, 255), rgb(85, 85, 255));
    background: -ms-linear-gradient(top, rgb(181, 181, 255), rgb(85, 85, 255));
    border: solid 1px;
    border-radius: 3px;
    margin: 0px;
}

.botonForm:hover{
    background: -webkit-linear-gradient(top, #7777ff, #aaaaff);
    background: -moz-linear-gradient(top, #7777ff, #aaaaff);
    background: -o-linear-gradient(top, #7777ff, #aaaaff);
    background: -ms-linear-gradient(top, #7777ff, #aaaaff);
}

.botonForm:active{
    background: -webkit-linear-gradient(top, #5555ff, #7777ff);
    ackground: -moz-linear-gradient(top, #5555ff, #7777ff);
    background: -o-linear-gradient(top, #5555ff, #7777ff);
    background: -ms-linear-gradient(top, #5555ff, #7777ff);
}

#b_cancelar {
    position: relative;
    float: right;
}

#b_enviar {
    /*    position: relative;
        float: left;*/
}

.seccion {
    position: relative;
    width: 80%;
    left: 10%;
}

#tabla_listado {
    position: relative;
    width: 100%;
    border-collapse:collapse;
    text-align: center;
    -webkit-opacity: .80;
    -moz-opacity: .80;
    opacity: .80;
    font-size: 18px;
    box-shadow: 5px 5px 5px #222;    
}

#tabla_listado tbody td:hover {
    background-color: #9999ff; 
}

#tabla_listado th, #tabla_listado tfoot td {
    background: -webkit-linear-gradient(top, rgb(51, 51, 255), rgb(85, 85, 255));
    background: -moz-linear-gradient(top, rgb(51, 51, 255), rgb(85, 85, 255));
    background: -o-linear-gradient(top, rgb(51, 51, 255), rgb(85, 85, 255));
    background: -ms-linear-gradient(top, rgb(51, 51, 255), rgb(85, 85, 255));
    background-color: #3333ff;
    color: white;
}

#tabla_listado td {
    background-color: #6699ff;
    height: 30px;
}

#opciones {
    list-style-type: none;
    margin: 2px;
    text-decoration: underline;
    text-align: justify;
}

.itemOpciones {

}

#botonAnexar {
    position: relative;
    width: 100%;
    height: 35px;
    background: -webkit-linear-gradient(top, rgb(181, 181, 255), rgb(85, 85, 255));
    background: -moz-linear-gradient(top, rgb(181, 181, 255), rgb(85, 85, 255));
    background: -o-linear-gradient(top, rgb(181, 181, 255), rgb(85, 85, 255));
    background: -ms-linear-gradient(top, rgb(181, 181, 255), rgb(85, 85, 255));
    border: solid 1px;
    border-radius: 3px;
    margin: 0px;
    font-size: 20px;
}

#tabla_listado a{
    cursor: pointer;
}

#botonAnexar:hover{
    background: -webkit-linear-gradient(top, #7777ff, #aaaaff);
    background: -moz-linear-gradient(top, #7777ff, #aaaaff);
    background: -o-linear-gradient(top, #7777ff, #aaaaff);
    background: -ms-linear-gradient(top, #7777ff, #aaaaff);
}

#botonAnexar:active{
    background: -webkit-linear-gradient(top, #5555ff, #7777ff);
    ackground: -moz-linear-gradient(top, #5555ff, #7777ff);
    background: -o-linear-gradient(top, #5555ff, #7777ff);
    background: -ms-linear-gradient(top, #5555ff, #7777ff);
}

/*.seccion a {
    text-decoration: none;
    color: #333333;
}*/

/*.seccion a:hover {
    color: #555555;
}*/

#div_menu{
    padding: 3px 0px 3px 0px;
}

.menu {
    list-style-type: none;
    padding: 0px;
    margin-top: 0px;
}

.item {
    float: left;
    height: 30px;
    margin-left: 0xp;
    margin-top: -17px;
    margin-right: 5px;
    background: -webkit-linear-gradient(top, rgb(102, 153, 255), rgb(65, 75, 255), rgb(51, 51, 255));
    background: -moz-linear-gradient(top, rgb(102, 153, 255), rgb(65, 75, 255), rgb(51, 51, 255));
    background: -o-linear-gradient(top, rgb(102, 153, 255), rgb(65, 75, 255), rgb(51, 51, 255));
    background: -ms-linear-gradient(top, rgb(102, 153, 255), rgb(65, 75, 255), rgb(51, 51, 255));
    padding: 5px;
    border-radius: 3px;
    line-height: 2.3em;
}

.item a {
    text-decoration: none;
    color: #ffffff;
}

.item:hover {
    background: -webkit-linear-gradient(top, #6699ff, #5555ff);
    background: -moz-linear-gradient(top, #6699ff, #5555ff);
    background: -o-linear-gradient(top, #6699ff, #5555ff);
    background: -ms-linear-gradient(top, #6699ff, #5555ff);
    background-color: #4444ff;
}

#cabecera {
    background-color: #6699ff;
    height: 100px;
    margin-top: -20px;
    background: -webkit-linear-gradient(bottom, #6699ff, #5555ff);
    background: -moz-linear-gradient(bottom, #6699ff, #5555ff);
    background: -o-linear-gradient(bottom, #6699ff, #5555ff);
    background: -ms-linear-gradient(bottom, #6699ff, #5555ff);
}

#pie {
    background-color: #6699ff;
    color: white;
    padding: 8px;
    -webkit-opacity: .70;
    -moz-opacity: .70;
    opacity: .70;
}

#cuerpo {
    margin-bottom: 40px;
    margin-top: 60px;
}